{% extends 'recommender_app/admin_base.html' %}
{% load static %}

{% block title %}{{ action }} Film{% endblock %}

{% block admin_content %}
<form method="post" enctype="multipart/form-data">
    <h2>{{ action }} Film</h2>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
                <small style="color: #666; display: block; margin-top: 5px;">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red; font-size: 0.9em;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">{{ action }} Film</button>
</form>
{% endblock %}